<ActionBar title="Game Search">
</ActionBar>
<GridLayout rows="auto,auto,*,auto" columns="auto">
    <GridLayout row="0" width="100%" verticalAlignment="top">
        <SearchBar hint="Enter search term here ..." backgroundColor="#e6eeff"
                    [text]="searchPhrase" (textChange)="onTextChanged($event)" 
                    (clear)="onClear($event)">
        </SearchBar>
    </GridLayout>
    <GridLayout row="1" width="100%" height="100%">
        <ListView [items]="items" (loadMoreItems)="onLoad($event)" separatorColor="#000080">
            <ng-template let-item="item">
                <StackLayout>
                    <Label [nsRouterLink]="['/item', item.id]" [text]="item.title"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</GridLayout>
