<ActionBar title="My App">
</ActionBar>
<GridLayout rows="auto,auto,*,auto" columns="auto">
    <GridLayout row="0">
        <SearchBar hint="Enter search term here ..."
                    [text]="searchPhrase" (textChange)="onTextChanged($event)" 
                    (clear)="onClear($event)">
        </SearchBar></GridLayout>
    <GridLayout row="1">
        <ListView [items]="items">
            <ng-template let-item="item">
                <StackLayout>
                    <Label [nsRouterLink]="['/item', item.id]" [text]="item.title"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</GridLayout>
